<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  </head>

  <body>
    <header class="site-header" role="banner">
      <div class="wrapper">
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        <nav class="site-nav">
          <input type="checkbox" id="nav-trigger" class="nav-trigger" />
          <label for="nav-trigger">
            <span class="menu-icon">
              <svg viewBox="0 0 18 15" width="18px" height="15px">
                <path d="m18,1.484c0,0.82-0.665,1.484-1.484,1.484h-15.032c-0.82,0-1.484-0.665-1.484-1.484s0.665-1.484,1.484-1.484h15.032c0.82,0,1.484,0.665,1.484,1.484zm0,6.016c0,0.82-0.665,1.484-1.484,1.484h-15.032c-0.82,0-1.484-0.665-1.484-1.484s0.665-1.484,1.484-1.484h15.032c0.82,0,1.484,0.665,1.484,1.484zm0,6.016c0,0.82-0.665,1.484-1.484,1.484h-15.032c-0.82,0-1.484-0.665-1.484-1.484s0.665-1.484,1.484-1.484h15.032c0.82,0,1.484,0.665,1.484,1.484z"/>
              </svg>
            </span>
          </label>
          <div class="trigger">
            <a class="page-link" href="{{ "/" | relative_url }}">Home</a>
            <a class="page-link" href="{{ "/dev/" | relative_url }}">Dev</a>
            <a class="page-link" href="{{ "/personal/" | relative_url }}">Personal</a>
            <a class="page-link" href="{{ "/about/" | relative_url }}">About</a>
          </div>
        </nav>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <div class="footer-col-wrapper">
          <div class="footer-col">
            <p>{{ site.description | escape }}</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html> 